@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  --colorBg: rgb(10, 4, 22); 
  --colorBgVariant: #4b418b;
  --colorPrimary: #cd5ff8;
  --ColorPrimaryVariant: #700c86;
  --colorWhite: whitesmoke;
  --colorLight: rgba(255, 255, 255, 0.8);
  --containerWidth-lg: 85%; 
  --containerWidth-md: 90%; 
  --containerWidth-sm: 95%;
  --transition: all 400ms ease;
  --link: #646cff;
  --linkHover: #535bf2;

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ColorPrimaryVariant);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorPrimary);
  border-radius: 12px;
  transition: var(--transition);
}

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  /* min-width: 400px; */
  min-width: 320px;
  min-height: 100vh;
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 0.4rem;
  border: 1px solid var(--colorPrimary);
  padding: 0.75rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: var(--transition);
}
button:hover {
  background: var(--colorWhite);
  color: var(--colorBg);
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.purple {
  color: var(--imp-text-color);
}

button:focus {
  box-shadow: none;
}

.logo {
  height: 6em;
  /* padding: 1.5em; */
  margin-left: 1.5em;
  will-change: filter;
  transition: var(--transition);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: .7rem;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
  width: var(--containerWidth-lg);
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}
a:hover {
  color: var(--linkHover);
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 1024px) {
  .App {
    width: var(--containerWidth-md); /*pour les medias comme des tabletes*/
  }
}

@media screen and (max-width: 600px) {
  .App {
    width: var(--containerWidth-sm); /*pour les petits medium ex: telephones*/
  }
}